:root {
    /* background-color: black; */
}

body {
    text-align: center;
}

.flex-container {}

.grid-container {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 150px auto 150px;
    gap: 1em;
    grid-template-areas: "header header header" "sidebar-1 article sidebar-2" "footer footer footer";
    border-radius: 10px;
}

header, footer {
    background-color: rgba(255, 0, 0, 0.502);
}

.sidebar-left, .sidebar-right {
    background-color: rgba(0, 128, 0, 0.468);
}

main {
    background-color: rgba(0, 0, 255, 0.454);
}

header {
    grid-area: header;
}

.sidebar-left {
    grid-area: sidebar-1;
}

article {
    grid-area: article;
}

.sidebar-right {
    grid-area: sidebar-2;
}

footer {
    grid-area: footer;
}