/* :root {} */

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* .flex-container {} */

.grid-container {
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: repeat(4, auto);
    gap: 1em;
    grid-template-areas: "header header header" "navbar navbar navbar" "sidebar-1 article sidebar-2" "footer footer footer";
}

header, footer {
    background-color: rgba(255, 0, 0, 0.502);
}

.sidebar-left, .sidebar-right {
    background-color: rgba(0, 128, 0, 0.468);
}

main {
    background-color: rgba(0, 0, 255, 0.454);
}

header {
    grid-area: header;
}

nav {
    grid-area: navbar;
    background-color: yellow;
}

nav>a {
    background-color: lightgreen;
    padding: 5px;
    border-style: solid;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav>a:hover {
    background-color: green;
}

.sidebar-left {
    grid-area: sidebar-1;
}

article {
    grid-area: article;
}

.sidebar-right {
    grid-area: sidebar-2;
}

footer {
    grid-area: footer;
}